AI Resume Analyzer (1).json
{
  "name": "AI Resume Analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "388a0926-94e1-4fa1-9fde-475dcd95bb2c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"text\": \"Dev Rathod. Skills: Python, Machine Learning, AWS, n8n. Project: Gujarat House Price Prediction...\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "7d9b26e5-dbb9-4d69-af53-6955175c4085",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nvidia/nemotron-nano-9b-v2:free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this resume and return ONLY JSON in this format:\\n\\n{\\n  \\\"summary\\\": \\\"...\\\",\\n  \\\"skills\\\": [\\\"...\\\"],\\n  \\\"missing_skills\\\": [\\\"...\\\"],\\n  \\\"score\\\": 0,\\n  \\\"suggestions\\\": [\\\"...\\\"]\\n}\\n\\nIMPORTANT: Give score strictly between 0 and 100 (integer only).\\n\\nResume:\\n{{$json.text}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "4c7e57ca-277f-42b0-83d4-f7e3a19f8ffc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices[0].message.content;\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(content);\n} catch (error) {\n  parsed = {\n    summary: content,\n    skills: [],\n    missing_skills: [],\n    score: 0,\n    suggestions: []\n  };\n}\n\n// Convert arrays to clean text\nparsed.skills = parsed.skills.join(\", \");\nparsed.missing_skills = parsed.missing_skills.join(\", \");\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "a6ac5f5f-48e1-44a3-92b9-6db6c9255137",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Username",
              "value": "YOUR_TWILIO_SID"
            },
            {
              "name": "Password",
              "value": "YOUR_TWILIO_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:+91931373033"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "Body",
              "value": "=Resume Score: {{$json.score}}\n\nSkills: {{$json.skills.join(\", \")}}\n\nMissing: {{$json.missing_skills.join(\", \")}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "id": "681afd2f-4d12-4af6-a916-6c8433e7cb6e",
      "name": "WhatsApp Notification",
      "credentials": {
        "httpBasicAuth": {
          "id": "XLle9YuCVuhFU5lG",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aQKxLiDzkbM_VBvfQ9IXBg1iCwTO32rVS3AR4YKcQvY",
          "mode": "list",
          "cachedResultName": "AI Resume Analyzer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQKxLiDzkbM_VBvfQ9IXBg1iCwTO32rVS3AR4YKcQvY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aQKxLiDzkbM_VBvfQ9IXBg1iCwTO32rVS3AR4YKcQvY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Resume Text": "={{ $json.summary }}",
            "Resume Score": "={{ $json.score }}",
            "Extracted Skills": "={{ $json.skills }}",
            "AI Summary": "={{ $json.summary }}",
            "Missing Skills": "={{ $json.missing_skills }}",
            "AI Suggestions": "={{ $json.suggestions }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Resume Text",
              "displayName": "Resume Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume Score",
              "displayName": "Resume Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Extracted Skills",
              "displayName": "Extracted Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Suggestions",
              "displayName": "AI Suggestions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        0
      ],
      "id": "7c6773a8-aed8-4b0e-a67f-7833f8f42602",
      "name": "Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9rn9Nl4Dj7pOaocX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet": {
      "main": [
        [
          {
            "node": "WhatsApp Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a04f0389-b47a-4152-8619-38a5bc843f16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0a35aa7f7cba76319fa96f70d7d2ac238782dda19f0e594cede47b091abab2"
  },
  "id": "I2rXEuHa9MaFcirW",
  "tags": []
}